//Generated sön 11 mar 2018 13:22:38 CET, will be rewritten every csgosl update.

"Databases"
{
	"driver_default"		"mysql"
	
	// When specifying "host", you may use an IP address, a hostname, or a socket file path
	
	"default"
	{
		"driver"			"default"
		"host"				"localhost"
		"database"			"sourcemod"
		"user"				"root"
		"pass"				""
		//"timeout"			"0"
		//"port"			"0"
	}
	
	"storage-local"
	{
		"driver"			"sqlite"
		"database"			"sourcemod-local"
	}

	"clientprefs"
	{
		"driver"			"sqlite"
		"host"				"localhost"
		"database"			"clientprefs-sqlite"
		"user"				"root"
		"pass"				""
		//"timeout"			"0"
		//"port"			"0"
	}

// Merging /home/lenos/src/csgosl/mods/mods/cksurf/databases.cfg
	"cksurf"
	{
		"driver"			"sqlite"
		"database"			"cksurf-local"
		"user"				"root"
		"pass"				""
	}
}
